body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
